@import "tailwindcss";

/* Si quieres paleta personalizada puedes agregar aquí */
@theme {
  --color-principal:  #39A900;
  --color-secundario: #002b46;
  --color-blanco:     #ffffff;
  --color-fondo:      #f4f7fa;
  --color-texto:      #002b46;
  --color-hover:      #2b8500;
  --color-hover-secundario: #004d70;
  --color-sombra:     rgba(0, 0, 0, 0.08);
  --borde-input:      #dcdcdc;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.25s ease-out;
}


